@page "/intropage"
<h3>IntroPage</h3>
<h1>Welcome to Itahari International College</h1>
<img src = "images/iic.jpg" alt = "college"/> 
<p> My college name is Itahari International College</p>

@code {
	
	

}
